body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #010101;
  color: white;
}


/* HOMEPAGE */
#navbar{
  display:none;
}
.nav {
  padding: 0px 90px;
}
.navbar-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.logo{
  color: white;
}
span {
  font-weight: 300;
}
.navlinks {
  display: flex;
 justify-content: space-evenly;
 padding-top: 17px;
}
h1 {
  width: 50%;
  margin: 10px;
  margin-bottom: 2.9%;
  margin-left: 0;
  font-size: 8.7vw;
  font-weight: 500;
  line-height: 1.1;
  
}
h3 {
  font-weight: 300;
  letter-spacing: 8px;
  margin-bottom: 3%;
  
}
p {
  line-height: 1.7;
  letter-spacing: 1px;
}
.main-section__landingpage {
  padding: 7vh 90px;
  padding-bottom: 1.1%;
  color: white;
  height: auto;
  min-height: 85vh;
  background-color: #010101;
}
.container-landingpage {
  display: flex;
  justify-content: space-between;
  height: 90%
}
img {
  width: 100%;
}

a {
  margin:  10px 20px;
  margin-left: 0;
  font-size: 0.9em;
  letter-spacing: 2px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

a:hover {
  color: #9b145c82;
}
button {
  font-family: "Open Sans", sans-serif;
  background-color: hsla(328, 22%, 55%, 0.201);
  color: white;
  padding: 10px 20px;
  padding-bottom: 10px;
  border: solid 1px hsla(328, 39%, 45%, 0.098);
  border-radius: 20px;
  margin: 0 10px;
  max-height: 39px;
}
button:hover {
  background-color: hsl(328, 22%, 55%);
}
.leftblock {
  width: 57%;
}
.rightblock {
  width: 43%;
}

.copyright{
 
  margin-top: 7%;
  margin-bottom: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 14px;
  width: 40%;
}
.contact-me__button{
  background-color: white;
  color: black;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-left: -4px;
  margin-top: 20px;
}
.take-classes__button{
  background-color: #010101;
  color: white;
  border: 1px solid white;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-left: -4px;
  margin-top: 20px;
  font-size: 18px;
}
.fab{
  font-size: 2em;
  margin-right: 20px;
  color: white;
}
.social-media__icons{
 display: flex;
  width: 40%;
  align-items: flex-end;
  margin-top: 5%;
  color: white;
}
footer{
  margin-bottom: 20px;
  display: flex;
  color: white;
}
@media only screen and (max-width: 972px) {
  .nav {
    padding: 0px 60px;
  }
  .main-section__landingpage{
    padding: 40px 60px;
    padding-bottom: 20px;
    position: relative;
  }
  h1{
    font-size: 70px;
  }
  .leftblock{
    width: 50%;
  }
  .rightblock {
    width: 50%;
  }
h3{
  font-size: 0.9rem;
  width: 96%;
}
footer{
  margin-top: 60px;
  margin-bottom: 0px;
}
  
}

@media only screen and (max-width: 680px) {
.navlinks{
  display: none;
}
#navbar{
  display: block;
}
.nav {
  padding: 0px 30px;
}
.main-section__landingpage{
  padding: 40px 30px;
  padding-bottom: 20px;
}
}
/* ABOUT PAGE STYLING */
.about-page__main{
  padding: 1vh 90px;
}
.about-page__heading {
  font-size: 2.6em;
  width: 105%;
 
}
.about-page-container {
display: flex;
  flex-direction: column;
  
}
.about-page__block0, .about-page__block{
display: flex;
justify-content: space-between;
}
.about-page__block0{
  margin-bottom: 70px;
}
.first-block__aboutpage{
width: 60%;
 
}
.second-block__aboutpage{
 width: 50%;
}
.about-section__pic{
  width: 90%;
  margin-top: 30px;
}
.about-section__pic0{
  width: 30%;
  margin-right: 20px;
}
.about_paragraph{
  line-height: 1.7;
  font-size: 1.1em;
}

/* WORK PAGE */

.work-page__main{
  padding: 1vh 90px;

}
 h2{
  margin-bottom: 60px;
}

iframe{
  margin-bottom:20px;
}
.video{
  display: flex;
  justify-content: space-between;
  margin-bottom: 13vh;
}
.last-video{
  display: flex;
  justify-content: space-between;
  
}
.vid-description{
  width: 45%;
}
/* CLASSES PAGE */

.classes-page__main{
  padding: 1vh 90px;
}
.classes-page__container{
  display: flex;
  justify-content: space-between;
}
.classes-description{
display: flex;

}
.styles{
  margin-left: 170px;
}
/* MOBILE NAVBAR */

a {
  color: #fff;
  text-decoration: none;
}

.p-menu1{
   height: 100%;
}




/* Hamburger */
.hamburger1 {
  height: 45px;
  margin: 10px;
  margin-right: 0;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: flex-end;
  z-index: 120;
}
nav{
  position: relative;
}
.hamburger1 div {
  background-color: rgb(61, 61, 61);
  width: 40px;
  height: 5px;
  margin-top: 7px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  height: 340px;
}


/* Menu */
.menu1 {
  width: 100%;
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr repeat(4, 0.5fr);
  grid-row-gap: 25px;
  padding: 0;
  list-style: none;
  clear: both;
  width: auto;
  text-align: center;
  height: 0px;
  overflow: hidden;
  transition: height .4s ease;
  z-index: 120;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #010101;
}

.menu1 a:first-child {
  margin-top: 40px;
}

.menu1 a:last-child {
  margin-bottom: 40px;
}

.link1 {
  width: 100%;
  margin: 0;
  padding: 10px 0;
}

.link1:hover {
  background-color: #fff;
  color: rgb(61, 61, 61);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}